

<section class="green-backdrop section scrollspy" id="technologies">

  <div class="container">

    <header class="row">
      <div class="col s6 offset-m1 offset-l1">
        <h2>Technologies</h2>
      </div>
    </header>

    <article class="row hide-for-mobile">
      <div class="col s10 offset-s1">

        <div class="skillnumber-1">meh</div>
        <div class="skillnumber-2">intermediate</div>
        <div class="skillnumber-3">advanced</div>
        <div class="skillnumber-4">blind fold me, <br> give me a keyboard</div>

        <div class="skillmarker-1"></div>
        <div class="skillmarker-2"></div>
        <div class="skillmarker-3"></div>
        <div class="skillmarker-4"></div>
        <div class="graph-background">
          <div class="skillbar-hold-1 valign-wrapper">
            <figure class="card skillbar-1">
              <img class="logo-skill logo-skill-js" src="./images/main-tech/jslogo.png">
            </figure>
          </div>
          <div class="skillbar-hold-2 valign-wrapper">
            <figure class="card skillbar-2">
              <img class="logo-skill logo-skill-node" src="./images/main-tech/nodejs-new-pantone-black.png">
            </figure>
          </div>
          <div class="skillbar-hold-3 valign-wrapper">
            <figure class="card skillbar-3">
              <img class="logo-skill logo-skill-react" src="./images/main-tech/react-logo.svg">
            </figure>
          </div>
          <div class="skillbar-hold-4 valign-wrapper">
            <figure class="card skillbar-4">
              <img class="logo-skill logo-skill-angular" src="./images/main-tech/angular.svg">
            </figure>
          </div>
        </div>
      </div>
    </article>

    <div class="row">
      <div class="col s10 offset-m1 offset-l1">
        <div class="side-tech-card-container">
          <figure class="side-tech-card-1 card">
            <img class="side-tech" src="./images/side-tech/HTML5-logo.png">
          </figure>
          <figure class="side-tech-card-2 card">
            <img class="side-tech" src="./images/side-tech/ionic-logo.png">
          </figure>
          <figure class="side-tech-card-3 card">
            <img class="side-tech css3-logo" src="./images/side-tech/css3-logo.png">
          </figure>
          <figure class="side-tech-card-4 card">
            <img class="side-tech" src="./images/side-tech/Oauth-logo.png">
          </figure>
          <figure class="side-tech-card-5 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/postgresql-logo.png">
          </figure>
          <figure class="side-tech-card-6 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/ember-logo.png">
          </figure>
          <figure class="side-tech-card-7 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/handlebars-logo.png">
          </figure>
          <figure class="side-tech-card-8 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/bootstrap-logo.png">
          </figure>
          <figure class="side-tech-card-9 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/Materialize-logo.png">
          </figure>
          <figure class="side-tech-card-10 card">
            <img class="side-tech postgresql-logo" src="./images/side-tech/expressjs-logo.svg">
          </figure>
          <figure class="side-tech-card-11 show-for-mobile card">
            <img class="side-tech postgresql-logo" src="./images/main-tech/jslogo.png">
          </figure>
          <figure class="side-tech-card-12 show-for-mobile card">
            <img class="side-tech postgresql-logo" src="./images/main-tech/angular.svg">
          </figure>
          <figure class="side-tech-card-13 show-for-mobile card">
            <img class="side-tech nodejs-logo" src="./images/main-tech/nodejs-new-pantone-black.png">
          </figure>
          <figure class="side-tech-card-14 show-for-mobile card">
            <img class="side-tech react-logo" src="./images/side-tech/react-card-logo.png">
          </figure>
        </div>
      </div>
    </div>
  </div>

</section>
