

<section class="contact-backdrop section scrollspy" id="contact">
  <div class="container">
    <div class="div-center-container">
      <div class="centered-div">
        <header class="centered-inner-title hide-for-mobile">
          <h2>Always looking to help.</h2>
        </header>
        <header class="centered-inner-title show-for-mobile">
          <h2>Always<br>looking<br> to help.</h2>
        </header>
        <article class="centered-inner-text">
          <p>I'm always trying to find challenging work that inspires me. If you have an opportunity that might peak my interest, keen on finding challenging work yourself or if you just wanna say hey, don't hesitate to reach out.</p>
          <a class="email-btn waves-effect waves-light btn" href="mailto:ith.harvey@gmail.com"><i class="material-icons left">email</i>Message</a>
        </article>
      </div>
    </div>
  </div>

</section>
