

<section id="about-me" class="section scrollspy">
  <header>
    <h1 class="mega-header-faded">about me</h1>
  </header>
  <div class="container">
    <div class="about-margin">
      <div class="row valign-wrapper">
        <article class="col s11 l4 offset-l1">
          <p>// I'm a results-focused and detail-oriented software engineer with a strong foundation in JavaScript. The majority of my experience is split between frontend frameworks like React and AngularJS and backend technologies such as Node.js, Express, PostgreSQL and MongoDB. <br><br>

          I'm passionate about finding the right solution, not the fastest one and love to work with those who share a drive for tackling difficult problems.</p>
        </article>
        <article class="col s7 hide-for-mobile">
          <figure class="mockup-contain">
            <img class="img-mockup-phone" src="./images/mockup2crop.png">
            <img class="img-mockup-laptop" src="./images/laptop-mockup.png">
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>
