html {
  width: 100%;
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

@media all and (max-width:760px)
  and (min-device-width: 0px) {

  html {
    width: 100%;
    min-width: 0px;
  }

  .container {
    margin: 0 auto;
    width: 95%;
  }

  .mega-header-faded {
    font-size: 10rem !important;
    margin-top: -1rem !important;
    margin-left: -1rem !important;
  }

  .nav-mat {
    display: block !important;
  }

  .side-contents{
    display: none !important;
  }

  .hide-for-mobile {
    display: none !important;
  }
  .work-holder{
    width: 100%;
  }
  .work-holder > div {
    width: 100% !important;
    display: block !important;
  }
  .work-backdrop {
    height: auto !important;
  }
  .centered-div {
    width: 100% !important;
  }
}

.nav-mat {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.side-contents{
  position: fixed;
  overflow-y: hidden;
  width: 20%;
  height: 20%;
  visibility: hidden;
}

.splash, .green-backdrop, .contact-backdrop {
  height: 100%;
  width: 100%;
}
.work-backdrop {
  width: 100%;
  height: auto;
}

.splash {
  background-color: #489ac9;
}

.green-backdrop, .contact-backdrop {
  margin: 8rem 0 0 0;
  background-color: white;
}

.splash p {
  color: white;
}

.img-profile {
  width: 10rem;
  height: 10rem;
}

.splash-content-1 h4 {
  color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  margin-bottom: 2rem;
  margin-top: 0;
}

.splash-content-1 h2, .green-backdrop h1 {
  color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.green-backdrop h1 {
  color: #41ba7d;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.work-backdrop h2 {
  color: #5c5757;
}

.splash-content-1, .splash-content-2, .splash-statement-1, .splash-statement-2, .splash-statement-3 {
  visibility: hidden;
}

.padding-right {
  margin-right: 8px;
}

.arrow {
  position: absolute;
  color: #f4c950;
  opacity: .6;
  visibility: hidden;
  margin-top: -4rem;
}

.mega-header-faded {
  position: relative;
  color: #fb7c54;
  font-size: 18rem;
  opacity: .09;
  margin-top: -4rem;
  margin-left: -4rem;
  z-index: -100;
}

.mockup-contain {
  height: 20rem;
  margin-left: 10%;
}

.img-mockup-phone{
  height: 20rem;
  position: absolute;
  margin-top: -5%;
}

.img-mockup-laptop{
  height: 20rem;
}

.about-margin {
  margin-top: 50px;
}

.img-mockup-phone, .img-mockup-laptop{
  visibility: hidden;
}

.graph-background {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid #41ba7d;
  height: 50%;
}
