.work-backdrop h2 {
  color: #5c5757;
}

.img-signature-background {
  transform: rotate(-30deg);
  opacity: .02;
  position: absolute;
  margin-left: -325px;
  margin-top: -200px;
  z-index: -3;
  height: 125%;
}

.title-work-above {
  height: 2.5rem;
}

.title-underline {
  height: 2px;
  width: 0;
  position: absolute;
  margin-top: -30px;
  background-color: #5c5757;
  display: inline-block;
}

.title-contain {
  margin-bottom: -33px;
}

.card-mini-image {
  height: 2.5rem;
  background-color: white;
}

.card-mini-button {
  margin-right: 5px;
  height: 2.5rem;
}

.work-holder {
  margin: 0 auto;
  width: 90%;
}

.work-holder > article {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline;
  /* For IE7 */
  zoom: 1;
  /* Trigger hasLayout */
  width: 31.7%;
  text-align: left;
  vertical-align: top;
}

.card-action-buttons {
  width: 100%;
  height: 42px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: -18px 0 0 0;
  padding-right: 14px;
}

.inner-card {
  min-width: 30%;
}

.inner-card-left {
  margin-right: 2%;
}

.inner-card-right {
  margin-left: 2%;
}
