html {
  width: 100%;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}

.splash, .green-backdrop{
  height: 100%;
  width:100%;

}
.splash {
  background-color: #489ac9;
}

.green-backdrop {
  margin: 8rem 0 0 0;
  background-color: #41ba7d;
}

.splash p {
  color: white;
}

.img-profile {
  width: 10rem;
  height: 10rem;
}

.splash-content-1 h2 {
  color: white;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 4.5rem;
}

.splash-content-1, .splash-content-2, .splash-statement-1, .splash-statement-2, .splash-statement-3 {
  visibility: hidden;
}

.padding-right {
  margin-right: 8px;
}

.arrow {
  position: absolute;
  color: #f4c950;
  opacity: .6;
  visibility: hidden;
  margin-top: -4rem;
}

.mega-header-faded {
  position: relative;
  color: #fb7c54;
  font-size: 18rem;
  opacity: .09;
  margin-top: -4rem;
  margin-left: -4rem;
  z-index: -100;
}

.img-mockup, .about-pgraph{
  height: 30rem;
}

.animBlock {
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all .55s ease-in;
  -moz-transition: all .55s ease-in;
  -ms-transition: all .55s ease-in;
  -o-transition: all .55s ease-in;
  transition: all .55s ease-in;
}

.animBlock[data-position="left"] { left: -20%; }
.animBlock[data-position="right"] { right: -20%; }

.animBlock[data-position="left"].viewed {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="right"].viewed {
  right: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
