<html>

  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- animsition.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="./javascripts/javascript.js"></script>


    <link rel="stylesheet" href="./stylesheets/animate.css">

    <link rel="stylesheet" href="./stylesheets/style_main.css">
    <link rel="stylesheet" href="./stylesheets/style_splash.css">
    <link rel="stylesheet" href="./stylesheets/style_aboutme.css">
    <link rel="stylesheet" href="./stylesheets/style_technologies.css">
    <link rel="stylesheet" href="./stylesheets/style_graph_draw.css">
    <link rel="stylesheet" href="./stylesheets/style_graph_logos.css">
    <link rel="stylesheet" href="./stylesheets/style_work.css">
    <link rel="stylesheet" href="./stylesheets/style_contact.css">
    <link rel="stylesheet" href="./stylesheets/style_mobile.css">

  </head>

  <body>

    <nav class="nav-mat">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="#about-me">about me</a></li>
          <li><a href="#technologies">technologies</a></li>
          <li><a href="#work">work</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </nav>

    <ul class="section table-of-contents side-contents">
      <li><a href="#about-me">about me</a></li>
      <li><a href="#technologies">technologies</a></li>
      <li><a href="#work">work</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>

    <% include ../partials/section_splash %>

    <% include ../partials/section_aboutme %>

    <% include ../partials/section_technologies %>

    <% include ../partials/section_work %>

    <% include ../partials/section_contact %>

  </body>

</html>
