<html>

<head>
  <!-- Compiled and minified CSS -->

  <!-- jQuery -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- animsition.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script type="text/javascript" src="./javascripts/javascript.js"></script>

  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/graph-draw.css">
  <link rel="stylesheet" href="./stylesheets/animate.css">
</head>

<body>

  <section class="splash valign-wrapper">
    <div class="row">
      <div class="splash-content-1">
        <h2 class="">Ian Harvey</h2>
      </div>

      <div class="row">
        <div class="col s4 splash-content-2">
          <img class="circle img-profile" src="./images/img-profile-web.jpg">
        </div>
        <div class="col s8">
          <p class="valign-wrapper splash-statement-1"><i class="material-icons tiny padding-right">panorama_fish_eye</i> Love collaboration, especially over coffee.</p>
          <p class="valign-wrapper splash-statement-2"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Blockchain enthusiast.</p>
          <p class="valign-wrapper splash-statement-3"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Enjoy sprints, the technically related ones.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <i class="col s1 offset-s5 arrow material-icons large">keyboard_arrow_down</i>
  </div>

  <h1 class="mega-header-faded">about me</h1>

  <div class="container">
    <article class="about-margin">
      <div class="row valign-wrapper">
        <div class="col s4 offset-s1">
          <p>// After working jobs pushing information around on the daily, I finnally woke up and discovered my true passion: creating. As a problem solver at heart, programming continues to be an outlet for a brain that always asks the question "hmm how does
            it work?" Since I started my programming journey, I have been curious about Dom mapnipulation, API's and how Javascript can effect the page in non-traditional ways. As this exposure has grown, so has my understanding of the successes and pitfalls
            of the self-taught method. I'm excited to be emmersed in G-school and discover new disciplines of programming along the way.
            <br><br><br> Made in Seattle, the rain keeps me here.
          </p>
        </div>
        <div class="col s4 offset-s1">
          <img class="img-mockup-phone" src="./images/mockup2crop.png">
          <img class="img-mockup-laptop" src="./images/laptop-mockup.png">
        </div>
      </div>
    </article>
  </div>

  <section class="green-backdrop">

    <div class="row">
      <div class="col s4 offset-s1">
      <h1>Technologies</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s8 offset-s2">
        <div class="skillmarker-1"></div>
        <div class="skillmarker-2"></div>
        <div class="skillmarker-3"></div>
        <div class="skillmarker-4"></div>
        <div class="graph-background">
            <div class="skillbar-hold-1 valign-wrapper">
              <div class="card skillbar-1"></div>
            </div>
            <div class="skillbar-hold-2 valign-wrapper">
              <div class="card skillbar-2"></div>
            </div>
            <div class="skillbar-hold-3 valign-wrapper">
              <div class="card skillbar-3"></div>
            </div>
            <div class="skillbar-hold-4 valign-wrapper">
              <div class="card skillbar-4"></div>
            </div>
        </div>
      </div>
    </div>
    </div>


  </section>


  <article>

  </article>
  </div>
</body>

</html>
