<html>

<head>
  <!-- Compiled and minified CSS -->

  <!-- jQuery -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- animsition.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script type="text/javascript" src="./javascripts/javascript.js"></script>

  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/graph-draw.css">
  <link rel="stylesheet" href="./stylesheets/graph-logos.css">
  <link rel="stylesheet" href="./stylesheets/technologies-side-tech.css">
  <link rel="stylesheet" href="./stylesheets/animate.css">
  <link rel="stylesheet" href="./stylesheets/work-pg.css">

</head>

<body>

      <ul class="section table-of-contents side-contents">
        <li><a href="#about-me">about me</a></li>
        <li><a href="#technologies">technologies</a></li>
        <li><a href="#work">work</a></li>
      </ul>

      <section class="splash valign-wrapper">
        <div class="row">
          <div class="splash-content-1">
            <h2 class="">Ian Harvey</h2>
          </div>

          <div class="row">
            <div class="col s4 splash-content-2">
              <img class="circle img-profile" src="./images/img-profile-web.jpg">
            </div>
            <div class="col s8">
              <p class="valign-wrapper splash-statement-1"><i class="material-icons tiny padding-right">panorama_fish_eye</i> Love collaboration, especially over coffee.</p>
              <p class="valign-wrapper splash-statement-2"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Blockchain enthusiast.</p>
              <p class="valign-wrapper splash-statement-3"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Enjoy sprints, the technically related ones.</p>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <i class="col s1 offset-s5 arrow material-icons large">keyboard_arrow_down</i>
      </div>

      <section id="about-me" class="section scrollspy">
        <h1 class="mega-header-faded">about me</h1>
        <div class="container">
          <article class="about-margin">
            <div class="row valign-wrapper">
              <div class="col s4 offset-s1">
                <p>// As a problem solver at heart, programming continues to be an outlet for a brain that always asks the question "hmm
                  how does it work?" Since I started my programming journey, I have been curious about Dom mapnipulation, API's and how Javascript can effect the page in non-traditional ways.

                  <br><br><br> Austin resident, the heat keeps me here.
                </p>
              </div>
              <div class="col s7">
                <div class="mockup-contain">
                  <img class="img-mockup-phone" src="./images/mockup2crop.png">
                  <img class="img-mockup-laptop" src="./images/laptop-mockup.png">
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>

      <section class="green-backdrop section scrollspy" id="technologies">

        <div class="row">
          <div class="col s4 offset-s1">
            <h1>Technologies</h1>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col s10 offset-s1">
              <!-- <div class="skillnumber-container"> -->
              <div class="skillnumber-1">meh</div>
              <div class="skillnumber-2">intermediate</div>
              <div class="skillnumber-3">advanced</div>
              <div class="skillnumber-4">blind fold me, <br> give me a keyboard</div>
              <!-- </div> -->
              <div class="skillmarker-1"></div>
              <div class="skillmarker-2"></div>
              <div class="skillmarker-3"></div>
              <div class="skillmarker-4"></div>
              <div class="graph-background">
                <div class="skillbar-hold-1 valign-wrapper">
                  <div class="card skillbar-1">
                    <img class="logo-skill logo-skill-js" src="./images/main-tech/jslogo.png">
                  </div>
                </div>
                <div class="skillbar-hold-2 valign-wrapper">
                  <div class="card skillbar-2">
                    <img class="logo-skill logo-skill-node" src="./images/main-tech/nodejs-new-pantone-black.png">
                  </div>
                </div>
                <div class="skillbar-hold-3 valign-wrapper">
                  <div class="card skillbar-3">
                    <img class="logo-skill logo-skill-react" src="./images/main-tech/react-logo.svg">
                  </div>
                </div>
                <div class="skillbar-hold-4 valign-wrapper">
                  <div class="card skillbar-4">
                    <img class="logo-skill logo-skill-angular" src="./images/main-tech/angular.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s10 offset-s1">
              <div class="side-tech-card-container">
                <div class="side-tech-card-1 card">
                  <img class="side-tech" src="./images/side-tech/HTML5-logo.png">
                </div>
                <div class="side-tech-card-2 card">
                  <img class="side-tech" src="./images/side-tech/ionic-logo.png">
                </div>
                <div class="side-tech-card-3 card">
                  <img class="side-tech css3-logo" src="./images/side-tech/css3-logo.png">
                </div>
                <div class="side-tech-card-4 card">
                  <img class="side-tech" src="./images/side-tech/Oauth-logo.png">
                </div>
                <div class="side-tech-card-5 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/postgresql-logo.png">
                </div>
                <div class="side-tech-card-6 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/ember-logo.png">
                </div>
                <div class="side-tech-card-7 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/handlebars-logo.png">
                </div>
                <div class="side-tech-card-8 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/bootstrap-logo.png">
                </div>
                <div class="side-tech-card-9 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/Materialize-logo.png">
                </div>
                <div class="side-tech-card-10 card">
                  <img class="side-tech postgresql-logo" src="./images/side-tech/expressjs-logo.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="work-backdrop section scrollspy" id="work">
        <!-- <img class="img-signature-background" src="./images/signature-website.png"> -->

        <div class="container">
          <div class="row">
            <div class="col s8 offset-s2">
              <div class="title-work-above"></div>
              <div class="title-contan">
                <h2 class="center-align">Work</h2>
                <div class="title-underline"></div>
              </div>
            </div>
          </div>

          <article>
            <div class="work-holder">

              <div class="flexcolumn-inside-flex">
                <div class="card hoverable inner-card">
                  <div class="card-image">
                    <img src="./images/work-images/pinpoint-screenshot.png">
                    <ul class="card-action-buttons">
                      <li>
                        <a href="https://github.com/ith-harvey/pinpoint" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                      </li>
                      <li>
                        <a href="https://pinpointblogs.herokuapp.com/blogs" class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-content">
                    <span class="card-title">pinpoint</span>
                    <p>Community based blog management and discovery tool. Technologies: JavaScript, Express, Node.js, Handlebars, HTML, CSS.</p>
                  </div>
                </div>
              </div>

              <div class="flexcolumn-inside-flex">
                <div class="card hoverable inner-card">
                  <div class="card-image">
                    <img class="img-destination" src="./images/work-images/destination-screenshot.png">
                    <ul class="card-action-buttons">
                      <li>
                        <a href="https://github.com/ith-harvey/destination-travel" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                      </li>
                      <li>
                        <a class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Destination</span>
                    <p>Allows users to organize and document their own travels, as well as share their experiences with their facebook friends. Technologies: JavaScript, AngularJS, Ionic, HTML, CSS.</p>
                  </div>
                </div>
              </div>

              <div class="flexcolumn-inside-flex">
                <div class="card hoverable inner-card">
                  <div class="card-image">
                    <img src="images/work-images/jobtracker-screenshot.png">
                    <div>
                      <ul class="card-action-buttons">
                        <li>
                          <a href="https://github.com/ith-harvey/job-tracker" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                        </li>
                        <!-- <li>
                      <a  href="" class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                    </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Job Tracker</span>
                    <p>Tracks and manages the job search process, providing basic analytics to users. Technologies: JavaScript, Java, Spring, AngularJS, HTML,CSS.</p>
                  </div>
                </div>
              </div>
            </div>
          </article>


        </div>
      </section>

  </div>

</body>

</html>
