
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <head>
      <% include ../partials/header %>
    </head>
    <div class= "jumbotron">
    	<div id="big-square-border"></div>
      <div id="verticle-rectangle-1"></div>
      <div class="chevyron" id="chevyron-1"></div>
      <div class="chevyron" id="chevyron-2"></div>
      <div id="verticle-rectangle-2"></div>
    	<h1>make<br>impact</h1>
    </div>
    <article>
    	<div id="personal-statement">
    		<h2>About Me</h2>
        <p>After working jobs pushing information around on the daily, I finnally woke up and
           discovered my true passion: creating. As a problem solver at heart, programming continues
           to be an outlet for a brain that always asks the question "hmm how does it work?"<br><br><br>
           Made in Seattle, the rain keeps me here.
          </p>
    	</div>
    </article>
    <article>
      <div id="personal-statement">
    		<h2>Direction</h2>
        <p>Since I started my programming journey, I have been curious about Dom mapnipulation, API's
           and how Javascript can effect the page in non-traditional ways. As this exposure has grown,
           so has my understanding of the successes and pitfalls of the self-taught method. I'm excited
           to be emmersed in G-school and discover new disciplines of programming along the way.</p>
    	</div>
    </article>
      <script  type="text/javascript" src="personalSite.js"></script>
  </body>
</html>
