<html>

<head>


<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- animsition.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script type="text/javascript" src="./javascripts/javascript.js"></script>

  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/graph-draw.css">
  <link rel="stylesheet" href="./stylesheets/graph-logos.css">
  <link rel="stylesheet" href="./stylesheets/technologies-side-tech.css">
  <link rel="stylesheet" href="./stylesheets/animate.css">
  <link rel="stylesheet" href="./stylesheets/work-pg.css">
  <link rel="stylesheet" href="./stylesheets/contact-pg.css">

</head>

<body>

  <nav class="nav-mat">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="#about-me">about me</a></li>
        <li><a href="#technologies">technologies</a></li>
        <li><a href="#work">work</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </nav>

  <ul class="section table-of-contents side-contents">
    <li><a href="#about-me">about me</a></li>
    <li><a href="#technologies">technologies</a></li>
    <li><a href="#work">work</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>

  <section class="splash valign-wrapper">
    <div class="row">
      <div class="splash-content-1 center-for-mobile">
        <h2 class="">Ian Harvey</h2>
        <h4>Software Engineer</h4>
      </div>

      <div class="row">
        <div class="col s4 splash-content-2">
          <img class="circle img-profile" src="./images/img-profile-web.jpg">
        </div>
        <div class="col s8 hide-for-mobile">
          <p class="valign-wrapper splash-statement-1"><i class="material-icons tiny padding-right">panorama_fish_eye</i> Love collaboration, especially over coffee.</p>
          <p class="valign-wrapper splash-statement-2"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Blockchain enthusiast.</p>
          <p class="valign-wrapper splash-statement-3"><i class="material-icons tiny padding-right">panorama_fish_eye</i>Enjoy sprints, the technically related ones.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <i class="col s1 offset-s5 arrow material-icons large">keyboard_arrow_down</i>
  </div>

  <section id="about-me" class="section scrollspy">
    <h1 class="mega-header-faded">about me</h1>
    <div class="container">
      <article class="about-margin">
        <div class="row valign-wrapper">
          <div class="col s10 m10 l4 offset-l1">
            <p>// I'm a results-focused and detail-oriented software engineer with a strong foundation in JavaScript. The majority of my experience is split between frontend frameworks like React and AngularJS and backend technologies such as Node.js, Express, PostgreSQL and MongoDB. <br><br>

            I'm passionate about finding the right solution, not the fastest one and love to work with those who share a drive for tackling difficult problems.</p>
          </div>
          <div class="col s7 hide-for-mobile">
            <div class="mockup-contain">
              <img class="img-mockup-phone" src="./images/mockup2crop.png">
              <img class="img-mockup-laptop" src="./images/laptop-mockup.png">
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="green-backdrop section scrollspy" id="technologies">



    <div class="container">

      <div class="row">
        <div class="col s6 offset-m1 offset-l1">
          <h1>Technologies</h1>
        </div>
      </div>


      <div class="row hide-for-mobile">
        <div class="col s10 offset-s1">
          <!-- <div class="skillnumber-container"> -->
          <div class="skillnumber-1">meh</div>
          <div class="skillnumber-2">intermediate</div>
          <div class="skillnumber-3">advanced</div>
          <div class="skillnumber-4">blind fold me, <br> give me a keyboard</div>
          <!-- </div> -->
          <div class="skillmarker-1"></div>
          <div class="skillmarker-2"></div>
          <div class="skillmarker-3"></div>
          <div class="skillmarker-4"></div>
          <div class="graph-background">
            <div class="skillbar-hold-1 valign-wrapper">
              <div class="card skillbar-1">
                <img class="logo-skill logo-skill-js" src="./images/main-tech/jslogo.png">
              </div>
            </div>
            <div class="skillbar-hold-2 valign-wrapper">
              <div class="card skillbar-2">
                <img class="logo-skill logo-skill-node" src="./images/main-tech/nodejs-new-pantone-black.png">
              </div>
            </div>
            <div class="skillbar-hold-3 valign-wrapper">
              <div class="card skillbar-3">
                <img class="logo-skill logo-skill-react" src="./images/main-tech/react-logo.svg">
              </div>
            </div>
            <div class="skillbar-hold-4 valign-wrapper">
              <div class="card skillbar-4">
                <img class="logo-skill logo-skill-angular" src="./images/main-tech/angular.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s10 offset-m1 offset-l1">
          <div class="side-tech-card-container">
            <div class="side-tech-card-1 card">
              <img class="side-tech" src="./images/side-tech/HTML5-logo.png">
            </div>
            <div class="side-tech-card-2 card">
              <img class="side-tech" src="./images/side-tech/ionic-logo.png">
            </div>
            <div class="side-tech-card-3 card">
              <img class="side-tech css3-logo" src="./images/side-tech/css3-logo.png">
            </div>
            <div class="side-tech-card-4 card">
              <img class="side-tech" src="./images/side-tech/Oauth-logo.png">
            </div>
            <div class="side-tech-card-5 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/postgresql-logo.png">
            </div>
            <div class="side-tech-card-6 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/ember-logo.png">
            </div>
            <div class="side-tech-card-7 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/handlebars-logo.png">
            </div>
            <div class="side-tech-card-8 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/bootstrap-logo.png">
            </div>
            <div class="side-tech-card-9 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/Materialize-logo.png">
            </div>
            <div class="side-tech-card-10 card">
              <img class="side-tech postgresql-logo" src="./images/side-tech/expressjs-logo.svg">
            </div>
            <div class="side-tech-card-11 show-for-mobile card">
              <img class="side-tech postgresql-logo" src="./images/main-tech/jslogo.png">
            </div>
            <div class="side-tech-card-12 show-for-mobile card">
              <img class="side-tech postgresql-logo" src="./images/main-tech/angular.svg">
            </div>
            <div class="side-tech-card-13 show-for-mobile card">
              <img class="side-tech nodejs-logo" src="./images/main-tech/nodejs-new-pantone-black.png">
            </div>
            <div class="side-tech-card-14 show-for-mobile card">
              <img class="side-tech react-logo" src="./images/side-tech/react-card-logo.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work-backdrop section scrollspy" id="work">
    <!-- <img class="img-signature-background" src="./images/signature-website.png"> -->

    <div class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="title-work-above"></div>
          <div class="title-contan">
            <h2 class="center-align">Work</h2>
            <div class="title-underline"></div>
          </div>
        </div>
      </div>

      <article>
        <div class="work-holder">

            <div class="card hoverable inner-card inner-card-left">
              <div class="card-image">
                <img class="image-work"src="./images/work-images/pinpoint-screenshot.png">
                <ul class="card-action-buttons">
                  <li>
                    <a href="https://github.com/ith-harvey/pinpoint" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                  </li>
                  <li>
                    <a href="https://pinpointblogs.herokuapp.com/blogs" class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                  </li>
                </ul>
              </div>
              <div class="card-content">
                <span class="card-title">pinpoint</span>
                <p>Community based blog management and discovery tool. Technologies: JavaScript, Express, Node.js, Handlebars, HTML, CSS.</p>
              </div>
            </div>

            <div class="card hoverable inner-card">
              <div class="card-image">
                <img class="image-work" src="./images/work-images/destination-screenshot.png">
                <ul class="card-action-buttons">
                  <li>
                    <a href="https://github.com/ith-harvey/destination-travel" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                  </li>
                  <li>
                    <a class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                  </li>
                </ul>
              </div>
              <div class="card-content">
                <span class="card-title">Destination</span>
                <p>Allows users to organize and document their own travels, as well as share their experiences with their facebook friends. Technologies: JavaScript, AngularJS, Ionic, HTML, CSS.</p>
              </div>
            </div>

            <div class="card hoverable inner-card inner-card-right">
              <div class="card-image">
                <img class="image-work"src="images/work-images/jobtracker-screenshot.png">
                <div>
                  <ul class="card-action-buttons">
                    <li>
                      <a href="https://github.com/ith-harvey/job-tracker" class="btn-floating waves-effect waves-light card-mini-button"><img class="card-mini-image" src="images/work-images/github-512.png"></a>
                    </li>
                    <!-- <li>
                      <a  href="" class="btn-floating waves-effect waves-light card-mini-button"><i class="material-icons">web</i></a>
                    </li> -->
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title">Job Tracker</span>
                <p>Tracks and manages the job search process, providing basic analytics to users. Technologies: JavaScript, Java, Spring, AngularJS, HTML,CSS.</p>
              </div>
            </div>

        </div>
      </article>
    </div>
  </section>

  <section class="contact-backdrop section scrollspy" id="contact">
    <div class="container">
      <div class="div-center-container">
        <div class="centered-div">
          <div class="centered-inner-title hide-for-mobile">
            <h2>Always looking to help.</h2>
          </div>
          <div class="centered-inner-title show-for-mobile">
            <h2>Always<br>looking<br> to help.</h2>
          </div>
          <div class="centered-inner-text">
            <p>I'm always trying to find challenging work that inspires me. If you have an opportunity that might peak my interest, keen on finding challenging work yourself or if you just wanna say hey, don't hesitate to reach out.</p>
            <a class="email-btn waves-effect waves-light btn" href="mailto:ith.harvey@gmail.com"><i class="material-icons left">email</i>Message</a>
          </div>
        </div>
      </div>

  </section>

</body>

</html>
